h1 {
	color: crimson;
	background-color: blanchedalmond;
    font-size: 35px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: line-through;
}

.text-hobby{
    color: brown;
    font-size: 30px;
}

img{
    width: 20%;
    height: 100px;
    border-radius: 15px;
}